@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'tailwindcss';
@import 'ngx-toastr/toastr';

:root {
  --primary-color: #9a0000;
  --secondary-color: #e9a015;
  --background-color: #ebd9cb;
  --tertiary-color: #5a0000;
  --modal-color: white;
  --text-color: #111827;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-main: 'Poppins', sans-serif;
}

.toast-top-center {
  top: 60px !important;
}
