app-book-card.selected {
  border: 2px solid #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.catalog-grid {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  font-family: 'Poppins';
  margin: 0;
  gap: 14px;
}

app-book-card {
  flex: 0 0 270px;
}
