<div class="calendar-container">
    <div class="calendar-header">
        <h2>{{ viewDate | date: 'MMMM yyyy'}}</h2>
        <div class="controls">
            <button (click)="previousMonth()" class="previous">Prev</button>
            <button (click)="nextMonth()" class="next">Next</button>
            <button [class.active]="viewMode==='month'" (click)="switchToMonth()">Month</button>
            <button [class.active]="viewMode==='week'" (click)="switchToWeek()">Week</button>
        </div>
    </div>
    <div class="calendar-grid">
        <div class="weekday" *ngFor="let day of weekDays">{{ day }}</div>
        <div *ngFor="let day of daysInMonth" class="calendar-cell" [class.today]="isToday(day)" [class.outside-month]="day.getMonth() !== viewDate.getMonth() && viewMode==='month'">
            <span class="day-number">{{ day | date: 'd'}}</span>
            <div class="badge-container">
                <!--<div *ngFor="let task of getTasksForDate(day)" class="task-badge" [ngClass]="getStatusClass(task)">Due: {{ task.title | slice:0:16 }}...</div>-->
                <ng-container *ngIf="!isExpanded(day) && getTasksForDate(day).length > 1; else showTasks">
                    <div class="task-count">
                        {{getTasksForDate(day).length}}tasks
                    </div>
                    <button class="see-more" (click)="toggleTaskExpand(day)">
                        See more
                    </button>
                </ng-container>
                <ng-template #showTasks>
                    <div *ngFor="let task of getTasksForDate(day)" class="task-badge" [ngClass]="getStatusClass(task)">
                        Due: {{ task.title | slice:0:16 }}...
                    </div>
                    <button *ngIf="getTasksForDate(day).length > 1" class="see-less" (click)="toggleTaskExpand(day)">
                        See less
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
