.ForgotPasswordPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    flex-direction: row;
}
.ForgotPasswordComponent {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
}
.ForgotPasswordForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    background-image: url("/Assets/Background/login-form-image.png");
    flex-direction: column;
}
.LoginBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.login-form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}
.login-background {
    width: 100%;
    height: 100%;
}
.FPForm{
    position: relative;
    display: flex;
    background-color: rgba(58, 16, 16, 0.44);
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    width: 60%;
    flex-direction: column;
}
.FPForm h2{
    color: #E9A015;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}
.FPForm p {
    font-size: 10px;
    color: #ffffff;
    margin: 25px;
    align-self: center;
    text-align: center;
    align-items: center;
}
.FPForm label{
    color: #FFFFFF;
    font-size: 10px;
    margin: 10px;
    padding-left: 15px;
}
.FPForm input{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #ffffff87;
    width: 90%;
    align-self: center;
}
.FPForm input:focus{
    outline: none;
    box-shadow: 0 0 5px #E9A015;
    transition: 0.3s;
}
.FPForm button{
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #E9A015;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    align-self: center;
    font-size: 12px;
    font-weight: bold;
}
.FPForm button:hover{
    background-color: #cf8e12;
    transition: 0.3s;
}
.FormTitleAndDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.FormTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.FormTitle .Formmapua{
    color: #FFFFFF;
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: bold;
}
.FormTitle .Formcataloghub{
    color: #E9A015;
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.FormTitleAndDescription p{
    color: #FFFFFF;
    font-family: 'Cinzel';
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}