<app-header></app-header>

<main class="mc-board-body">
  <app-main-label
    icon="view_kanban"
    label="KanbanBoard"
    [actions]="[
      { id: 'search', icon: 'search', tooltip: 'Search' },
      { id: 'filter', icon: 'filter_list', tooltip: 'Filter' },
      { id: 'add-task', icon: 'add', tooltip: 'Add Task' },
    ]"
    (actionClick)="handleAction($event)"
  ></app-main-label>

  <div class="board">
    <div
      *ngFor="let column of columns; trackBy: trackByColumnId"
      class="column"
      cdkDropList
      [id]="column.id"
      [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="connectedDropLists"
      (cdkDropListDropped)="drop($event)"
    >
      <h2 [style.background-color]="column.color">
        {{ column.title }} ({{ column.tasks.length }})
      </h2>

      <div
        *ngFor="let task of column.tasks; trackBy: trackByTaskId"
        class="card"
        [style.border-left-color]="column.color"
        cdkDrag
        (click)="openViewTask(task)"
      >
        <div class="card-top">
          <div class="card-title">{{ task.title }}</div>

          <div class="card-info">
            <span><span class="label">Priority:</span> {{ task.priority }}</span>
            <span><span class="label">Date Posted:</span> {{ task.postDate | date: 'short' }}</span>
            <span *ngIf="task.deadlineDate"
              ><span class="label">Deadline:</span> {{ task.deadlineDate | date: 'short' }}</span
            >
            <span *ngIf="task.completionDate"
              ><span class="label">Completed:</span> {{ task.completionDate | date: 'short' }}</span
            >
          </div>

          <h2 class="num-days" [style.color]="getDaysRemaining(task) < 0 ? 'red' : 'inherit'">
            {{ getDaysRemaining(task) }} days
          </h2>
        </div>
      </div>
    </div>
  </div>
  <app-task-modal
    *ngIf="activeModal"
    [mode]="modalMode"
    [task]="selectedTask"
    (save)="saveTask($event)"
    (close)="closeModal()"
    (modeChange)="modalMode = $event">
  ></app-task-modal>
</main>
