main {
  background-color: #ebd9cb;
   padding: 1rem;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  flex: 1; 
  overflow: hidden; 
  position: relative;
}

.board {
  display: flex;
  gap: 14px;
  flex-grow: 1;
  overflow-x: auto;
}

/* Column */
.column {
  flex: 1 0 250px;
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.column h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  height: 50px;
  border-radius: 8px 8px 0 0;
  font-family: 'Poppins';
  font-size: 20px;
  flex-shrink: 0;
}

/* Cards */
.cards {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: flex-start;
}

.card {
  background-color: #e0e0e0;
  padding: 0.5rem;
  border-radius: 4px;
  flex-shrink: 0;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-container {
  background: white;
  width: min(90%, 1100px);
  max-height: 90%;
  border-radius: 12px;
  padding: 24px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-container app-main-label {
  margin-bottom: 16px;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
}
