@import url('https://fonts.cdnfonts.com/css/cinzel');
@import url('https://fonts.cdnfonts.com/css/poppins');
.LoginPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    flex-direction: row;
}
.LoginComponent {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
}
.LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    background-image: url("/Assets/Background/login-form-image.png");
    flex-direction: column;
}
.LoginBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.login-form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}
.login-background {
    width: 100%;
    height: 100%;
}
.Form{
    position: relative;
    display: flex;
    background-color: rgba(58, 16, 16, 0.44);
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    width: 60%;
    flex-direction: column;
}
.Form h2{
    color: #E9A015;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}
.Form label{
    color: #FFFFFF;
    font-size: 10px;
    margin: 10px;
    padding-left: 15px;
}
.Form input{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #ffffff87;
    width: 90%;
    align-self: center;
}
.Form input:focus{
    outline: none;
    box-shadow: 0 0 5px #E9A015;
    transition: 0.3s;
}
.Form button{
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #E9A015;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
}
.Form a{
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}
.Form button:hover{
    background-color: #cf8e12;
    transition: 0.3s;
}
.TitleAndDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.Title .mapua{
    color: #FFFFFF;
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: bold;
}
.Title .cataloghub{
    color: #E9A015;
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.TitleAndDescription p{
    color: #FFFFFF;
    font-family: 'Cinzel';
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.error-message {
    color: #9a0000;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #EBD9CB;
    margin: 25px;
    width: 75%;
    align-self: center;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}