.main-label {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--font-main);
  line-height: 1;
  padding-right: 40px;
}

.label-inner {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-bottom: 6px solid #5A0000;
  padding-right: 30px;
}

mat-icon {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

hr {
  border: none;
  border-bottom: 2px solid #ddd;
  margin: 0.5rem 0 1rem 0;
}
