<body>
  <div class="book-details">
    <div class="field-container" *ngFor="let field of fields">
      <!-- Label -->
      <div class="labels-ctr">
        <label class="field-label">{{ field.label }}</label>

        <!-- Subtext -->
        <small
          class="field-subtext"
          *ngIf="field.required !== undefined"
          [ngClass]="{ required: field.required, recommended: !field.required }"
        >
          {{ field.required ? '*Required' : 'Recommended' }}
        </small>
      </div>

      <!-- Input field -->
      <ng-container [ngSwitch]="field.type">
        <input
          *ngSwitchCase="'text-small'"
          type="text"
          class="text-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        />
        <input
          *ngSwitchCase="'int-small'"
          type="number"
          class="int-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        />
        <input
          *ngSwitchCase="'numbers-only-small'"
          pattern="[0-9]*"
          class="numbers-only-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        />
        <div *ngSwitchCase="'bool-sep'" class="bool-sep-buttons">
          <button type="button" [class.active]="field.value === true" (click)="field.value = true">
            Yes
          </button>
          <button
            type="button"
            [class.active]="field.value === false"
            (click)="field.value = false"
          >
            No
          </button>
        </div>
        <textarea
          *ngSwitchCase="'text-field-small'"
          class="text-field-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        ></textarea>

        <!-- Multi Big (first + last name) -->
        <div *ngSwitchCase="'multi-big'" class="multi-big">
          <div class="combined">
            <span>Full Name:</span>
            <hr />
          </div>
          <input type="text" placeholder="First Name" [(ngModel)]="field.value.firstName" />
          <input type="text" placeholder="Last Name" [(ngModel)]="field.value.lastName" />
          <button>Edit</button>
        </div>
      </ng-container>
    </div>
  </div>
  <app-book-card
    [bookData]="[
      { label: 'Title No.', value: getFieldValue('Title No.'), icon: 'title' },
      { label: 'Author', value: getAuthorName(), icon: 'person' },
      { label: 'Year', value: getFieldValue('Year'), icon: 'calendar_today' },
      { label: 'Collection', value: getFieldValue('Collection'), icon: 'collections_bookmark' },
      { label: 'Suppress', value: getFieldValue('Suppress') ? 'Yes' : 'No', icon: 'block' },
    ]"
    [isEditPage]="true"
  ></app-book-card>
</body>
