:host {
  display: flex;
  flex-direction: column;
  flex: 1; /* fill parent's height (main) */
  border-right: 2px solid black;
  box-sizing: border-box;
  overflow-y: auto; /* scroll only this component */
}

.book {
  display: flex;
  border-radius: 8px;
  background-color: white;
  font-family: 'Poppins';
  height: 100%;
  margin: 0;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 20px;
  border-right: 2px solid black;

  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.field-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  border-bottom: 3px solid #5a0000;
  padding-bottom: 20px;
}

.labels-ctr {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.field-label {
  font-weight: bold;
  font-size: 24px;
}

.field-subtext {
  font-size: 12px;
}

.field-subtext.required {
  color: red;
}

.field-subtext.recommended {
  color: black;
}

.bool-sep-buttons button {
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.bool-sep-buttons button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.text-small,
.int-small,
.numbers-only-small,
.text-field-small {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 2;
}

.multi-big {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 0.5rem;
  border: 1px solid #898989;
  border-radius: 8px;
  padding: 10px 20px;
}

.multi-big .combined {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.multi-big input {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

app-book-card {
  flex: 1;
}
