<body>
  <div class="book-details">
    <div class="field-container" *ngFor="let field of fields">
      <!-- Label -->
      <div class="labels-ctr">
        <label class="field-label">{{ field.label }}</label>

        <!-- Subtext -->
        <small
          class="field-subtext"
          *ngIf="field.required !== undefined"
          [ngClass]="{ required: field.required, recommended: !field.required }"
        >
          {{ field.required ? '*Required' : 'Recommended' }}
        </small>
      </div>

      <!-- Input field -->
      <ng-container [ngSwitch]="field.type">
        <input
          *ngSwitchCase="'text-small'"
          type="text"
          class="text-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        />
        <input
          *ngSwitchCase="'int-small'"
          type="number"
          class="int-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        />
        <input
          *ngSwitchCase="'numbers-only-small'"
          pattern="[0-9]*"
          class="numbers-only-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        />
        <div *ngSwitchCase="'bool-sep'" class="bool-sep-buttons">
          <button type="button" [class.active]="field.value === true" (click)="field.value = true">
            Yes
          </button>
          <button
            type="button"
            [class.active]="field.value === false"
            (click)="field.value = false"
          >
            No
          </button>
        </div>
        <textarea
          *ngSwitchCase="'text-field-small'"
          class="text-field-small"
          [(ngModel)]="field.value"
          [placeholder]="field.placeholder"
        ></textarea>

        <!-- Multi Big (first + last name) -->
        <div *ngSwitchCase="'multi-big'" class="multi-big">
          <div class="combined">
            <span>Full Name:</span>
            <hr />
          </div>
          <input type="text" placeholder="First Name" [(ngModel)]="field.value.firstName" />
          <input type="text" placeholder="Last Name" [(ngModel)]="field.value.lastName" />
          <button>Edit</button>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card-holder">
    <div class="card-cover">
      <div class="cover-icon">
        <span class="material-icons" style="font-size: 64px">menu_book</span>
        <span class="cover-text">ISBN</span>
      </div>
    </div>

    <div class="card-details">
      <div class="field-preview" *ngFor="let field of cardFields">
        <span class="material-icons field-icon" style="font-size: 32px">{{ field.icon }}</span>
        <span class="field-value">{{ getFieldValue(field.label) }}</span>
      </div>

      <button class="action-button">
        {{ isEditPage ? 'Save Changes' : 'Add Book' }}
      </button>
    </div>
  </div>
</body>
