.PasswordRecoveryPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    flex-direction: row;
}
.PasswordRecoveryComponent {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
}
.PasswordRecoveryForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    background-image: url("/Assets/Background/login-form-image.png");
    flex-direction: column;
}
.LoginBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.login-form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}
.login-background {
    width: 100%;
    height: 100%;
}
.passwordRecovery{
    position: relative;
    display: flex;
    background-color: rgba(58, 16, 16, 0.44);
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    width: 60%;
    flex-direction: column;
}
.passwordRecovery h2{
    color: #E9A015;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}
.passwordRecovery p {
    font-size: 10px;
    color: #ffffff;
    margin: 25px;
    align-self: center;
    text-align: center;
    align-items: center;
}
.PassRecoTitleAndDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.PassRecoTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.PassRecoTitle .PassRecomapua{
    color: #FFFFFF;
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: bold;
}
.PassRecoTitle .PassRecocataloghub{
    color: #E9A015;
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.PassRecoTitleAndDescription p{
    color: #FFFFFF;
    font-family: 'Cinzel';
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}